/*.js
!index.js
/src/*.js
/src/.vscode
/*.d.ts
/*.log
*.js.map
bundle.js
npm-debug.log
/.test/
/test/execution-tests/**/typings
!/test/**/expectedOutput/**
!/test/**/expectedOutput-transpile/**
/**/node_modules
/dist
/dist-2018
/test/execution-tests/**/dist
/**/.cache-loader
!build.js
/**/debug.log
.pnp
.pnp.js
.vs/**
.pnpm-store
.spike-tmp