/*.js
!index.js
/src/*.js
/src/.vscode
/*.d.ts
/*.log
*.js.map
bundle.js
npm-debug.log
/.test/
/test/execution-tests/**/typings
!/test/**/expectedOutput-*/**
/**/node_modules
/dist
/test/execution-tests/**/dist
/**/.happypack
/**/.cache-loader
!build.js
/**/debug.log
.pnp
.pnp.js
!.eslintrc.js
.vs/**
.pnpm-store