dist: trusty
addons:
  chrome: stable
language: node_js
node_js:
  - "4"
  - "6"
  - "8"
sudo: false
install:
  - yarn install
  - yarn build
  - yarn add $TYPESCRIPT
env:
  - TYPESCRIPT=typescript@2.6.1
  - TYPESCRIPT=typescript@next
  - TYPESCRIPT=typescript@2.5.2
  - TYPESCRIPT=typescript@2.4.1
  - TYPESCRIPT=typescript@2.3.1
  - TYPESCRIPT=typescript@2.2.1
  - TYPESCRIPT=typescript@2.1.5
  - TYPESCRIPT=typescript@2.0.9
