language: node_js
node_js:
  - "4"
  - "5"
  - "6"
  - "7"
sudo: false
install:
  - npm install npm -g
  - npm install
  - npm run build
  - npm install $TYPESCRIPT
env:
  - TYPESCRIPT=typescript@1.6.2
  - TYPESCRIPT=typescript@1.7.5
  - TYPESCRIPT=typescript@1.8.2
  - TYPESCRIPT=typescript@2.0.9
  - TYPESCRIPT=typescript@2.1.5
  - TYPESCRIPT=typescript@2.2.1
  - TYPESCRIPT=typescript@next
