os:
  - linux
addons:
  chrome: stable
language: node_js
node_js:
  - "8"
  - "10"
  - "11"
sudo: required
install:
  - yarn install
  - yarn build
  - yarn lint
  - yarn add $TYPESCRIPT
env:
  - TYPESCRIPT=typescript@3.3.3
  - TYPESCRIPT=typescript@next
  - TYPESCRIPT=typescript@3.2.1
  - TYPESCRIPT=typescript@3.1.1
  - TYPESCRIPT=typescript@3.0.1
  - TYPESCRIPT=typescript@2.9.2
  - TYPESCRIPT=typescript@2.8.1
  - TYPESCRIPT=typescript@2.7.1
  - TYPESCRIPT=typescript@2.6.1
  - TYPESCRIPT=typescript@2.5.2
  - TYPESCRIPT=typescript@2.4.1
 