environment:
  nodejs_version: "0.12"
  matrix:
  - TYPESCRIPT: typescript
  - TYPESCRIPT: typescript@next
install:
  - ps: Install-Product node $env:nodejs_version
  - npm install
  - npm install %TYPESCRIPT%
test_script:
  - node --version
  - npm --version
  - npm run build
  - npm test
build: off
