on: [push, pull_request]

name: build and test

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: install node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: install
        run: yarn install

      - name: build
        run: yarn build

      - name: test
        uses: ./.github/node-chrome
        run: yarn execution-tests
