on:
  release:
    types: [created, published]

name: build, test and publish

jobs:
  build_test_and_publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: install node
        uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/

      - name: install node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: install
        run: yarn install

      - name: build
        run: yarn build

      - name: install chrome
        uses: ./.github/node-chrome

      - name: test
        run: yarn execution-tests

      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
